<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Abfahrten</title>

    <!-- Stylesheet lädt die lokale Font via @font-face -->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="panel" id="panel">
        <div id="departures" class="departures">
            <div class="loading">Lade...</div>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>